﻿body {
    background-color: yellowgreen;
}

header {
    text-align:center;
    font-family:'Script MT';
    font-size: 30px;
}

img {
    display: block;
    margin: auto;
    max-height: 90%;
    max-width: 95%;
}

#about {
    text-align:center;
    font-size: 20px;
}

table {
    border: 5px groove slategrey;
}

th, td {
    text-align: center;
    border: 3px ridge lightblue;
    width: 700px;
    height: 50px;
}

strong {
    font-size:20px;
    text-decoration: underline;
}

#ad {
    font-size: 20px;
}

legend {
    font-size: 25px;
}

#square {
    width: 100px;
    height: 100px;
    animation: square;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: all 2s linear 0.5s;
}

@keyframes square {
    0% {
        background-color: red;
        margin-left: 0;
        margin-top: 0;
    }

    25% {
        background-color: yellow;
        transition-property: left, top;
        transition-duration: 1s, 1s;
        margin-left: 200px;
        margin-top: 0;
    }

    50% {
        background-color: blue;
        margin-left: 200px;
        margin-top: 200px;
    }

    75% {
        background-color: green;
        margin-left: 0;
        margin-top: 200px;
    }

    100% {
        background-color: red;
        margin-left: 0;
        margin-top: 0;
    }
}