﻿body {
    background-color: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}

header {
    font-size:30px;
    text-align:center;
}
h1{
    font-family:Castellar;
    font-size:70px;
}
/*history section*/ 
section{
    border:solid black 2px;
    height: 470px;
    max-width:inherit;
    background-color: pink;
    opacity:0.85;
}
img {
    width:400px;
    height:250px;
}
#hisPic{
    float:right;
}
/*myth section*/
#merlin{
    float:left;
}

/*Reason section*/
#today{
    padding-top:10px;
}

/*Slide show*/
.mySlides {
    display: none;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-left:10px;
    float:right;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}




/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

/*Table*/
table {
    border-collapse: collapse;
    margin-left:100px;
}

table, td, th {
    border: 3px solid black;
}
td, th {
    padding: 20px;
    padding-right: 500px;
}



/*Pop Up*/
#BuyButton{
    padding:10px;
    margin-left:30px;
}

.glass {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
}

.form-content {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 80%; 
}

