﻿body {
    width: 90%;
    background: linear-gradient(to bottom right, lightblue, lightgreen);
}

img {
    width: 600px;
    height: 300px;
}

#prev, #next {
    cursor: pointer;
    color: black;
    position:relative;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}

figcaption{
    margin-left:40%;
}

#prev {
    left:40%;
}

#next{
    left:59%;
}

li {
    width: 200px;
    background: linear-gradient(lightblue, azure);
}

ul {
    list-style: none;
    position: absolute;
    border: 1px solid red;
    padding: 0;
    margin: 0;
    text-align:center;
}

a{
    text-decoration:none;
}

div {
    margin-left: 300px;
}

.slideshow {
    display: none;
    margin-left: 20%;
}

#title {
    font-size: 50px;
    font-style: italic;
    position: absolute;
    top: 15%;
    margin-top: 50px;
    left: 40%;
    padding: 5px;
    border: groove;
}

p {
    padding:10px;
    font-size:20px;
}

tr, td, th {
    border: 1px solid;
    font-size: 18px;
    padding:5px;
}

th {
    width: 30px;
}

table{
    border-collapse:collapse;
}

#menu{
    position:fixed;
    margin-top: 150px;
    font-size: 30px;
}

main{
    font-size:4em;
    text-align:center;
}

div iframe {
    width: 80%;
    height: 500px;
}

strong{
    font-size: 2em;
}

#submit{
    animation: color 2s infinite alternate linear;
}

@keyframes color{
    from{background-color:red}
    to{background-color:yellow}
}

#glass {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(225,225,225,.7);
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

#glass:hover{
    cursor:pointer;
}

form {
    position: relative;
    width: 360px;
    height: 375px;
    top: 30%;
    background-color: azure;
    border: 2px solid blue;
    z-index: 100;
    font-size: 20px;
    padding:20px;
}

#header{
    margin-left:20%;
    text-align:center;
    font-size:30px;
}

#header a{
    text-decoration:underline;
}

